// Background
.ib-background-white {
	background: $white;
	background-color: $white;
}

.ib-background-black {
	background: $black;
	background-color: $black;
}

.ib-background-gray {
	background: $ib-gray;
	background-color: $ib-gray;
}

.ib-background-darkblue {
	background: $ib-darkblue;
	background-color: $ib-darkblue;
}

.ib-background-blue {
	background: $ib-blue;
	background-color: $ib-blue;
}

.ib-background-lightblue {
	background: $ib-lightblue;
	background-color: $ib-lightblue;
}

.ib-background-brown {
	background: $ib-brown;
	background-color: $ib-brown;
}

.ib-background-orange {
	background: $ib-orange;
	background-color: $ib-orange;
}

.ib-background-standard {
	background: $ib-standard-font-color;
	background-color: $ib-standard-font-color;
}

// Color
.ib-color-white {
	color: $white;
}

.ib-color-black {
	color: $black;
}

.ib-color-gray {
	color: $ib-gray;
}

.ib-color-darkgray {
	color: $ib-darkgray;
}

.ib-color-icons{
	color:#666;
}

.ib-color-darkblue {
	color: $ib-darkblue;
}

.ib-color-blue {
	color: $ib-blue;
}

.ib-color-lightblue {
	color: $ib-lightblue;
}

.ib-color-brown {
	color: $ib-brown;
}

.ib-color-orange {
	color: $ib-orange;
}

.ib-color-standard {
	color: $ib-standard-font-color;
}
