/**
 * handle menu items that are only visible inside the burger menu
 * and that are hidden in desktop mode (> 768px)
 * additional singleMenuItem class for menuEntryPoints without subpages
 */
@media (max-width: 767px) {
	#ib-main-menu {
		ul.jetmenu {
			li.show-only-in-burger-menu.fix-sub {
				display: inline-block;
			}
			li.show-only-in-burger-menu.singleMenuItem {
				display: inline-block;
			}
		}
	}
}

@media (min-width: 768px) {
	#ib-main-menu {
		ul.jetmenu {
			li.show-only-in-burger-menu.fix-sub {
				display: none !important;
			}
			li.show-only-in-burger-menu.singleMenuItem {
				display: none !important; 
			}
		}
	}
}