/**/


.ib-newslist-header {
  h1 {
    margin-bottom: 1rem;
  }
}

.ib-newslist-newselement {
  &>a {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }

  h2 {
    //font-weight: 700;
    color: $ib-darkblue;
    margin-top: 1rem;

    a {
      color: $ib-darkblue;
    }
  }
}

.ib-newslist-newselement+.ib-newslist-newselement {
  margin-top: 3rem;
}

/*
 * ------------------------------------------------------
 * NEWS SLIDER STARTPAGE
 * ------------------------------------------------------
 */

.ib-news-slider {
  .slick-track {
    .ib-news-item {
      padding-left: 8px;
      padding-right: 8px;
      min-height: 170px; //background-color: gray;
      width: 100%;

      .news-img-wrap {
        margin: 0;
      }

      .teaser-text {
        [itemprop="description"] {
          float: left;
          max-height: 180px;
          overflow: hidden;
          margin-bottom: 1rem;

          p {
            margin: 0;
          }
        }

        .ib-link-more-extend {
          float: left;
        }
      }

      .ib-news-image-wrap {
        min-height: 170px;
        position: relative;
        margin: 3px 12px 5px 0;
      }

      .header {
        float: left;
      }

      h2 {
        height: 90px;
        //font-weight: 700;
      }

      a {
        border: none;
      }

      .news-img-wrap {
        width: 100%;
        max-height: 170px;
      }

      img {
        max-height: 170px;
        display: block;
        border: none;
        margin: 0 auto;
      }
    }
  }
}

/*
 * ------------------------------------------------------
 * NEWS STANDALONE LIST VIEW (NOT STARTPAGE SLIDER)
 * ------------------------------------------------------
 *
 * this formats the news list on standalone page
 * there is an extra template because the default list view
 * was used for the startpage news slider
 *
 * @see template/html/ext/tt_news_v3_standalone_list_page.html
 * @author 2017-03-27 mkettel
 */

div.news-list-container-standalone {

  div.news-page-browser {
    margin-top: 20px;
    margin-bottom: 40px;

    ul.ib-newslist-pagination, ul.f3-widget-paginator  {
      margin-left: 0;

      li {
        float: left;
        list-style: none;

        span.li-divider {
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      li:first-child,
      li:nth-last-child(2) {
        margin-right: 8px;
      }

      li:first-child,
      li:last-child,
      li:nth-last-child(2) {
        span.li-divider {
          display: none;
        }
      }
    }
  }
}

/**
*	tx_news detailview
**/

.news-single .article .news-img-wrap {
  margin: 0;
  width: 100%;
  padding-bottom: 15px;
}

.news-single-item {
  .pager {
    margin: 0;
    padding-top: 20px;

    li {
      list-style: none;
    }

    li.previous {
      float: left;
    }

    li.next {
      float: right;
    }
  }
}

/**
* ib-news-standard-listview
**/
.ib-news-standard-listview {
  .article .news-img-wrap a {
    border: none;
  }

  .article {
    .news-list-item {
      h2 {
        font-family: "Open Sans";
        font-weight: 700;
      }
    }
  }

  .ibNewsPageNavigation {
    display: flex;
    justify-content: space-between;
  }

  .ibNewsFirstPageLink {
    display: flex;
    justify-content: end;
  }
}

// overwrite news-basic.css
.news-single .article .news-img-wrap {
  float: none !important;
  width: 100%!important;
  margin: 0 !important;
}