.ib-searchbox{
  input, select{   
    color:$ib-standard-font-color; 
  }  
  select{
    background-image:url(../../img/Pfeil_oben_unten.png);
    background-size:10px 20px;
  }
  .ib-searchbox-searchbutton-container{
    margin-top:2rem;
  }
  .ib-searchbox-searchbutton-container a{
    color:$white;     
  }
  
}
