.ib-rs-speaker{
    padding-top:10px;
    padding-bottom:0;
}

.rsbtn .rsbtn_exp .rsbtn_exp_inner,
.rsbtn .rsbtn_play {
    border: none !important;
    background: #fff !important; 
}

.rsbtn .rsbtn_play .rsbtn_left {
    margin-left: 0 !important;
}

.rs_addtools .rsbtn_play,
.rsbtn .rsbtn_play {
    border-color: #009fe3 !important;
}

.rsbtn.rsexpanded .rsbtn_exp .rsbtn_exp_inner {
    border-color: #009fe3 !important;
}

.rsbtn.rsdetached .rsbtn_dragbar {
    background-color: #009fe3 !important;
}

.rsbtn.rsdetached .rsbtn_dragbar:focus {
    background-color: #009fe3 !important;
}

.ib-theme-portal .row:not(.ib-startpage-slider-controls) {
    z-index: unset;
}
