[submodule "deploy"]
	path = deploy
	url = https://github.com/Internationaler-Bund-e-V/ib-website-deploy.git

[submodule "docs"]
	path = docs
	url = https://github.com/Internationaler-Bund-e-V/ib-website-documentation.git
