Host ib.de
    HostName ib.de
    Port 4567
    User ib
    ProxyCommand ssh ssh300006084@ngcobalt308.manitu.net -W %h:%p

Host ib-staging.rmsdev.de
    HostName ib-staging.rmsdev.de
    Port 4567
    User ib
    ProxyCommand ssh ssh300006084@ngcobalt308.manitu.net -W %h:%p
