.ib-dbproductlist {
  .letters li {
    list-style-type: none;
    float: left;
    padding-right: 0.5rem;
  }

  .productlist li {
    list-style-type: none;
  }
}

.db-citycontainer {
  border-bottom: 1px solid $ib-gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*
 * ib-db-extension
 */

.ib-db-extension {
  .ib-sponsor {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid $ib-standard-font-color;
    border-bottom: 1px solid $ib-standard-font-color;

    .ib-sponsor-image-container {
      margin: 1rem 0; // only limit height for images that

      // do not have a  100% width
      // to get a nice look for images beneath each other
      div.ib-sponsor-image:not(.small-12) {
        img {
          max-height: 100px;
        }
      }
    }

    .ib-sponsor-image {
      margin: auto 0;
      padding: 15px;
    }

    .ib-sponsor-image-odd {
      //padding-right: 1px;
    }

    .ib-sponsor-image-even {
      //padding-left: 1px;
    }
  }

  .ib-sidebar {
    .ib-content-module {
      border: none;
    }
  }

  .ib-db-right-content {
    a {
      color: $ib-anchor-color !important;
      text-decoration: none !important;

      &.ibCustomButton {
        color: white !important;
      }
    }

    .ib-sidebar {
      padding-top: 0;
    }

    .ib-content-module:first-child {
      border-top: none !important;
    }

    .ib-content-module {
      padding-top: 0;
    }

    h2 {
      margin-top: 0;
    }

    .ib-content-module.ib-sidebar-map {
      padding-top: 0;

      img {
        margin-bottom: 20px;
      }
    }
  }

  .ib-db-main-content {
    padding-bottom: 2rem;
  }

  .large-1-2col {
    min-height: 1px;
  }

  .ib-noTopBottomPadding {
    padding-top: 0;
    padding-bottom: 0;
  }

  #ib-slider-container {
    padding-top: 0;
  }

  /*
	 * Gallery
	 */
  .ib-db-gallery {
    .ib-dbGallery-item-container {
      max-width: 455px;
      margin-left: auto;
      margin-right: auto;
    }

    .ib-prev-next-button {
      padding-top: 13%;
    }
  }

  /*
	 * News
	 */
  .ib-db-news {
    .ib-prev-next-button {
      padding-top: 5%;
    }

    .ib-dbNews-item {
      padding: 1px;

      a {
        display: block;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: auto;
        @include transition(all 400ms ease)
      }

      &:hover img {
        transform: scale(1.03);
      }
    }
  }

  /*
	 * videos on location and product pages
	 */
  .ib-video {
    margin-top: 10px;

    iframe {
      border: none;
    }
  }
}

/* ibToast */

#ibToast {
  //display: none;
  background: #fff none repeat scroll 0 0;
  border: 0 solid #009fe3;
  box-shadow: 3px 3px 9px;
  left: 0;
  margin: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 10%;
  width: 50%;
  z-index: 1000;
}

/* Small only */

@media screen and (max-width: 39.9375em) {

  .ib-db-news,
  .ib-db-gallery {
    .ib-slider-nav-right {
      padding-left: 0;
    }
  }
}

/* Medium and up */

@media screen and (min-width: 40em) {

  .ib-db-news,
  .ib-db-gallery {
    .ib-slider-nav-left i {
      float: right;
    }
  }
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .ib-db-extension {
    .ib-db-right-content {
      .ib-content-module {}

      .ib-content-module.ib-sidebar-map {
        img {}
      }
    }

    .ib-sidebar {
      .ib-content-module {
        border-top: 1px solid #97d2f0;
      }
    }
  }
}

/* Large and up */

@media screen and (min-width: 64em) {
  .ib-db-extension {
    padding-top: 0;

    .ib-db-right-content {
      .ib-content-module {
        padding-top: 50px;
      }

      .ib-content-module.ib-sidebar-map {
        padding-top: 0;

        img {}
      }
    }

    .ib-sidebar {
      .ib-content-module {
        border-top: 1px solid #97d2f0;
      }
    }
  }
}

/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}