#IbSrb {
  #SrbMainContent {
    margin-top: 110px;
    position: relative;
    padding-top: 2rem;
  }

  .SrbDefaultContent {
    width: $srb-default-content-width;
  }

  .SrbTypoContentElement {

    width: $srb-default-content-width;


  }

}