//fouc fix
.no-js #SrbNavigation {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js #SrbNavigation {
    display: block;
  }

  .no-js #SrbMobileMenu {
    display: none;
  }
}

$srb-font-color-black : #2c2e35;

/////////////


#IbSrb {
  #header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: $srb-black !important;
    height: 110px;
    background: url("../../img/white_header_bg.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1 !important;
    color: $srb-font-color-white;

    .srbLogo {
      height: 95px;
      width: auto;
    }

    a {
      color: $srb-font-color-black
    }

    #SrbNavigationContainer {
      background: $srb-black;

      .nav-item {
        font-size: 15px;
      }

      .nav-item.active {
        &>a {
          color: $srb-font-color-green;

          &::after {
            border-color: $srb-font-color-green transparent transparent;
          }

          .mk-svg-icon {
            fill: $srb-font-color-green;
          }
        }
      }
    }

    .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after {
      border-color: $srb-font-color-black transparent transparent;
    }
  }
}

//small
@media screen and (max-width: 1339px) {
  #IbSrb {
    #header {
      display: flex;
      align-items: center;
      .srbLogo {
        width: auto;
        max-width: 70%;
        height: auto;
        max-height: 95px;
      }

      #SrbMobileMenu {
        position: relative;
        display: flex;
        justify-content: space-between;

        #SrbMobileMenuToggle {
          float: right;          
          position: relative;
          cursor: pointer;


          span {
            transition: 0.2s ease-in-out;
            background-color: black;
            width: 30px;
            height: 5px;
            position: relative;
            display: block;
            margin: 5px;
          }
        }
      }

      #SrbNavigation {
        background: $srb-black;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 110px;
        border: 1px solid $srb-font-color-black;
        border-top: none;

        #SrbNavigationContainer {
          li {
            text-transform: uppercase;
          }




          &.accordion {


            .menu.is-accordion-submenu {
              a {
                padding-left: 2rem;
                text-transform: none;
              }
            }
          }

          li {
            background: $srb-font-color-white;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
          }

        }

        #SrbNavigationRight {
          .menu {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
          }

          .SrbNavigationMobileSearch {
            padding: 1rem;
            background: $srb-font-color-white;

            li {
              width: 100%;
            }
          }
        }
      }
    }
  }

}

//large
@media screen and (min-width: 1340px) {
  #IbSrb {
    #header {
      .grid-container.SrbDefaultContent {
        position: relative;
        height: 100%;
      }

      .mk-svg-icon {
        fill: $srb-font-color-white;
        height: 25px !important;
        width: 25px !important;
      }

      #SrbNavigation {
        position: relative;
        height: 100%;
        display: flex !important;
        align-items: center;
        justify-content: space-between;

        a {
          padding: 0;

          &:hover {
            color: $srb-font-color-green;

            svg {
              fill: $srb-font-color-green;
            }
          }

        }

        li.is-dropdown-submenu-parent {
          a {
            margin-right: 15px;

            &::after {

              right: -20px;
            }

            &:hover {
              &::after {
                border-color: $srb-font-color-green transparent transparent;
              }
            }


          }

          .SrbSubMenu {
            border-top: none;
            padding: 1rem 1rem 0 1rem;

            width: max-content;
            color: $srb-font-color-white;

            &>li {
              padding-bottom: 1.5rem;

              a {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 1px;
              }
            }
          }
        }


      }

      #SrbNavigationLeft {
        width: auto;
        position: relative;
        height: 100%;

        #SrbNavigationContainer {
          display: flex;
          align-items: center;
          background: transparent;
          height: 100%;

          &>li {
            margin-left: 1.5rem;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: 600;
            font-style: italic;
          }
        }
      }

      #SrbNavigationRight {
        width: auto;
        display: flex;
        align-items: center;

        .SrbSearchIcon {
          svg {
            height: 16px;
            width: 16px;
            fill: $srb-font-color-black;
          }

          &:hover {
            svg {
              fill: $srb-font-color-green;
            }
          }
        }
      }
    }
  }
}