@use "sass:color";

$footer-buttonSize: 40px;


#ib-footer {
	// background-color: $ib-darkblue;
	color: #fff;

	.ib-footer-meta {

		//margin-top: 30px;
        position: relative;

		.columns {
			height: 100px;

			ul {
				margin: 0;
				padding: 0;
				position: absolute;
				bottom: 0;
			}
		}

		.ib-footer-logo {
			max-width: 180px;
			position: absolute;
			right: 0.625rem;
			bottom: 10px;
			color: #fff;
		}
	}

    &.sit-sis .ib-footer-meta .columns {
        height: 2rem;
    }


	.ib-footer-container {
		background: $ib-darkblue;
		padding: 2rem 0;

		a {
			&:hover {
				color: color.adjust($ib-darkgray, $lightness: -5%, $space: hsl);
			}
		}
	}

	h3 {
		font-weight: 700;
		color: #fff;
		margin-bottom: 0.7rem;

		a {
			@extend .ib-link-more-before;
			color: #fff;

			&::before {
				font-size: 0.5rem;
			}
		}
	}

	h2,
	h3,
	h4 {
		color: #fff;
	}


	.ib-footer-center {
		text-align: center;
		margin-top: 30px;
	}

	.ib-central-links {
		float: left;
	}

	// format textcontent (tt_comntent.bodytext) that is inserted in TYPO3
	// and displayed in the footer
	// see "0001601: Seite ib-stiftung.de - Änderungen",  author mk@rms, 2020-03-23
	.ib-footer-textcontent {
		a {
			color: #fff;
		}
	}


	.ib-footer-social {

		&.menu.simple {
			margin-top: 40px;
		}

		li {
			padding: 0;
			margin: 0;
		}

		a {
			display: block;
			color: #fff;
			text-align: center;
			@include transition(background-color 350ms ease);
			font-size: 43px;
			margin-bottom: 10px;


			&:hover {
				color: color.adjust($ib-darkgray, $lightness: -5%, $space: hsl);
			}

			&+a {
				margin-top: 6px;
			}

			i {
				line-height: $footer-buttonSize;
                margin-right: 0.25rem;
			}

			.facebook {
				color: #4267b2;
			}

			.twitter {
				color: #1da1f2;
			}

			.instagram {
				color: #262626;
			}

			.xing {
				color: #007575;
			}

			.kununu {
				color: #000;
			}

			.youtube {
				color: #FF0000;
			}
		}
	}

	ul:not(.ib-footer-social) {
		font-size: 14px;

		a {
			color: #fff;
			font-size: .9em;
			font-weight: 300;
			line-height: 2;
			text-decoration: none;

		}
	}


}

.footerThreeColumns {
	.ib-footer-textcontent {
		float: left !important;
	}
}

@media only screen and (min-width: 40.063em) {
	.ib-footer-meta-item {
		display: inline;
		padding-right: 0.9rem;
	}
}

//small only
@include breakpoint(small) {
	#ib-footer {
		&>.row>.columns+.columns {
			// margin-top: 20px;
		}

	}
}
