.ibCopyText {
    margin: 0 3px;

    &::after {
        content: "kopiert";
        position: absolute;
        top: -25px;
        background: #f18700;
        padding: 5px;
        font-size: 10px;
        color: white;
        margin-left: -25px;
        border-radius: 5px;
        display: none;
    }

    &.showCopied {
        &::after {
            display: inline;
        }
    }
}