body {
  font-size: 87.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}


h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-h1;
  color: $ib-lightblue;
  font-family: $font-family-h1;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-h2;
  color: $ib-darkblue;
  font-family: $font-family-h2;
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;
  color: $ib-darkblue;
  font-family: $font-family-h3;
}

h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-h4;
  color: $ib-darkblue;
  font-family: $font-family-h4;
}


#ib-container {
  background: white;
  //min-height: 1000px;
  position: relative;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;

  a {
    color: $ib-standard-font-color;
    text-decoration: underline;

    &:hover {
      color: $ib-orange;
    }
  }

  a.button {
    color: #fff;
    text-decoration: none;
  }

  @media screen and (min-width: 64em) {
    padding-top: 100px;
  }
}

.ib-custom-header {
  .ib-content-module {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -10px;
  }
}


.ib-content-module {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .ib-iconwrapper,
  .ib-headline {
    /*
		color: $ib-blue;
		line-height: 1.4;
		margin-top: 0;
		margin-bottom: 0.5rem;
		font-size: 2rem;
		font-weight: 200;
		font-style: normal;
		*/
  }


  h3 {
    font-weight: 700;
    color: $ib-darkblue;
  }

  // define the headlines inside the headline-sections class
  // used in the TextExtended module of ext:ib_content
  div.headline-section {

    h2,
    h3,
    h4,
    h5 {
      /*
			font-size: rem-calc(20);
			font-weight: bold;
			padding-top: 0;
			padding-bottom: 0;
			border:none;
			color: $ib-darkblue;
			*/

    }

    .ib-headline {
      /*
			font-size: 32px;
			font-weight: 200;
			color: $ib-blue;
			*/
    }
  }

}

.ib-prev-next-button {
  cursor: pointer;
}

.text-sliderext-prev-next-btn {
  margin-top: 8%;
}

/*
 * Links
 */
/*
.ib-link-more-before::before {


   font-family: 'ib-font' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: inherit;
   -webkit-font-smoothing: antialiased;
   content: "\e90b";
   padding-right: 0.5rem;
   font-size: 0.6em;
   vertical-align: middle;


}
*/
/*
.ib-link-more-after::after {

	font-family: 'ib-font' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	content: "\e90b";
	padding-left: 0.5rem;
	font-size: 0.6em;
	vertical-align: middle;

}
*/
.ib-link-translate {
  @include transition(all 250ms ease);
  display: block;

  &:hover,
  &:active {
    transform: translate(2px, 0px);
  }
}

.ib-link-arrow-before::before {

  font-family: 'ib-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  content: "\e905";
  padding-right: 0.5rem;
  font-size: 0.6em;
  vertical-align: middle;

}

.ib-link-arrow-after::after {

  font-family: 'ib-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  content: "\e905";
  padding-left: 0.5rem;
  font-size: 0.6em;
  vertical-align: middle;

}

/////////////////////////////

/* Large max*/
@media screen and (max-width: 63.9375em) {
  #ib-footer {
    padding: 2rem 0;
    font-weight: bold;

    .footer-column {
      text-align: left;
    }
  }
}

;

/* Small only */
@media screen and (max-width: 39.9375em) {
  #ib-slider-container {
    padding-top: 0px;
  }

  .ib-content-module {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .ib-iconwrapper,
    .ib-headline {
      line-height: 1.4;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.5rem !important;
      font-weight: 200;
      font-style: normal;
    }

    .ib-headline {
      margin-bottom: 20px;
    }
  }

  #ib-container {
    padding-top: 60px;
  }

}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #ib-slider-container {
    padding-top: 0px;
  }

  #ib-container {
    padding-top: 58px;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .offset--large #ib-slider-container {
    margin-bottom: -15%;
  }

  .offset--large .ib-startpage-slider-controls {
    margin-top: -7.5%;
  }

  .offset--small #ib-slider-container {
    margin-bottom: -54px;
  }

  .offset--small .ib-startpage-slider-controls {
    margin-top: -27px;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}