/**/
.news-single-item {
  padding-bottom: 20px;
  padding-top: 70px;

  .news-img-caption {
    font-style: italic;
    font-size: 13px;
  }

  hr {
    border-bottom-color: $ib-lightblue;
  }

  div.prev-next-article-links {

    margin-top: 20px;

    div,
    a {
      float: left !important;
      clear: both !important;
    }

  }

  .mediaelement {
    .mediaelement-video {
      video {
        width: 100%;
        height: auto;
      }
    }
  }

  .ibCategoryTags {
    color: $ib-darkblue;
    text-decoration: none;
    background: $ib-gray;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .ibCatgoryTagsContainer {
    margin: 1rem 0;
  }
}