// module display the page title under slider above main content
.ib-pagetitle {
  background: $ib-gray;
  padding: 0!important;
  h1 {
    font-weight: 700;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 64em) { 
	.ib-pagetitle {
		margin-top: -54px; //move element up for more offset into headslider
	}
}