.text-color-dark-blue {
  color: $ib-darkblue;
}

.text-color-light-blue {
  color: $ib-lightblue;
}

.ibCustomButton {
  color: white !important;
  padding: 10px 15px;
  border-radius: 1.3em / 1em;
  text-decoration: none !important;
  display: inline-block;
  margin: 5px 0;

  &.lightblue {
    background-color: #009ddf;
    // background-color: #007DB3; // Abgedunkelte Version, die den WCAG-Richtlinien entspricht 
    transition: .15s ease-in; // for redesign

    &:hover {
      // background-color: #005590; // for redesign
      }
  }

  &.darkblue {
    background: #005590;
    transition: .15s ease-in; // for redesign

    &:hover {
    // background-color: #007DB3; // for redesign
    }
  }

  &.orange {
    background: #f18700;
  }



}

.ibCustomTable {
  display: table !important;

  
}

.ibCustomTable.grid td {
  border: 1px solid #009ddf;
}

.ibCustomTable.grid tr:nth-child(even) {
  background: none;
}

.ibCustomTable.alternate tr {
  background: #e5f5fc;
}

.ibCustomTable.alternate tr:nth-child(2n) {
  background: white;
}

// the definition of the class .rte-divider should be here,
// but because the definition of the other divider is in another file,
// it can be found there.
// @author mk@rms, 2019-08-23
// @see /ext/ib_template/Resources/Public/css/scss/_divider.scss