.shariff {
  .orientation-horizontal li {
    margin-right: 5px;
  }

  .shariff-button {

    span:before {
      color: white;
    }

    a {
      border-radius: 5px;

    }
  }
}

@media screen and (min-width: 64em) {

  .shariff {
    li {
      margin-right: 0px !important;
    }

    .shariff-button {
      a {
        width: 30px;

      }
    }
  }

}