.ib-bubbleslider {

  #nextButton,
  #prevButton {
    cursor: pointer;
    padding-top: 108px;
  }

  .slick-center {
    width: 100%;
    min-height: 320px;

    &::before {
      border: 7px solid $ib-anchor-color !important;
    }
  }

  .ib-bubbleslider-item {
    width: 100%;
    min-height: 340px;
    text-align: center;
    cursor: pointer;
    position: relative;

    .ib-bubbleslider-textcontainer {
      position: relative;
      height: 275px;

      .ib-bubbleslider-item-offset {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      a {
        text-decoration: none !important;
      }

      p {
        margin-bottom: 0px;
      }
    }

    .textBubble {
      color: $ib-standard-font-color;
    }

    figcaption {
      position: absolute;
      background: #fff;
      text-align: center;
      width: 100%;
      bottom: 0;
      color: $ib-blue;
      font-size: 120%;
      vertical-align: text-top;
      min-height: 75px;
    }

    .ib-bubbleslider-item-image {
      position: absolute;
      margin-top: -150px;
      margin-left: -117px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
    }

    a .ib-bubbleslider-item-image,
    a .ib-bubbleslider-item-image:hover {
      cursor: pointer;
    }

    &::before {
      position: absolute;
      content: ' ';
      width: 243px;
      height: 243px;
      border-radius: 50%;
      border: 7px solid $ib-gray;
      top: 50%;
      left: 50%;
      margin-top: -154px;
      margin-left: -121px;
      @include transition(border 350ms ease);
    }
  }

  .ib-bubbleslider-item {
    a {
      float: left;
      width: 100%;
      outline: none;
    }

    .textBubble {
      position: relative;
    }

    span {
      max-width: 200px;
      display: block;
      margin-left: 55px;
    }

    p {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  ul.slick-dots {}

  .row.columns {
    clear: both;
  }
}

/* Large max */
@media screen and (max-width: 63.9375em) {
  .ib-bubbleslider {
    .ib-bubble-slider-control {
      position: relative;
      padding-top: 108px;
    }

    .slick-center {
      width: 100%;
      min-height: 320px;
    }

    .ib-bubbleslider-item {
      position: relative;
      width: 100%;
      min-height: 350px;
      text-align: center;
      cursor: pointer;

      figcaption {
        min-height: 80px;
      }

      .ib-bubbleslider-item-offset {
        position: absolute;
        top: 110px;
      }
    }

    .ib-bubbleslider-item {
      span {
        max-width: 200px;
        display: block;
        margin-left: 48px;
      }
    }
  }
}