.ib-tiles {

  .ib-tile-headline,
  .ib-tile-link {
    padding-top: 0.5rem;
  }

  .ib-tile {
    height: auto;
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;

    .ibTileModal {
      max-width: 80vw !important;
      left: 0 !important;
      right: 0 !important;
      margin: 0 auto;
      position: fixed;
      

    }

  }

  .ib-tile-link {
    position: absolute;
    bottom: 10px;
  }

  .ib-tile-caption {
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 10px;
  }

  .ib-tile-link {
    padding-top: 20px;
    position: relative;
  }


  .ibTilesInfoButton {
    display: inline;
    position: absolute;
    font-size: 24px;
    right: -5px;
    bottom: -10px;
    cursor: pointer;
  }

}

@media screen and (min-width: 64em) {
  .ib-tiles {
    .ib-tile {}

    .ib-tile-caption {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}