.ib-content-module {

  // disabled as of https://mantis.rm-solutions.de/mantis/view.php?id=659
  // .internal-link:after, .internal-link-new-window:after,
  // @author mkettel, 2018-03-06
  /*
   .download:after, .external-link:after, .external-link-new-window:after{
	  font-family: 'ib-font' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: inherit;
	  -webkit-font-smoothing: antialiased;
	  content: "\e90b";
	  padding-left: 0.5rem;
	  font-size: 0.6em;
	  vertical-align: middle;
  }
  */
}

//Login -> setup_tt_content_custom_layouts.ts

.tx-felogin-pi1 {
  input[type="submit"] {
    color: white !important;
    padding: 10px 15px;
    border-radius: 1.3em / 1em;
    border: none;
    text-decoration: none !important;
    display: inline-block;
    margin: 5px 0;
    background-color: #009ddf;
  }
}