div.row.ib-content-module.ib-rs-speaker.ib-background-white {
    // padding-top:10px;
    // padding-bottom:0;
    display: flex;
    align-items: center;
}

.rsbtn .rsbtn_exp .rsbtn_exp_inner,
.rsbtn .rsbtn_play {
    border: none !important;
    background: #fff !important; 
}

.rsbtn .rsbtn_play .rsbtn_left {
    margin-left: 0 !important;
}

.rs_addtools .rsbtn_play,
.rsbtn .rsbtn_play {
    border-color: #009fe3 !important;
}

.rsbtn.rsexpanded .rsbtn_exp .rsbtn_exp_inner {
    border-color: #009fe3 !important;
}

.rsbtn.rsdetached .rsbtn_dragbar {
    background-color: #009fe3 !important;
}

.rsbtn.rsdetached .rsbtn_dragbar:focus {
    background-color: #009fe3 !important;
}

.ib-theme-portal .row:not(.ib-startpage-slider-controls) {
    z-index: unset;
}


// <a> tag "Vorlesen" after expanded
.rsbtn.rsexpanded 
a.rsbtn_play {
    margin-top: .3rem;
}

// "Vorlesen" span 
// a.rsbtn_play 
// span.rsbtn_left.rsimg.rspart 
// span.rsbtn_text[aria-hidden="true"]
// span {
    // color: #333;
// }

// Buttons Stopp, Rewind, Forward, Speed etc.
.rsbtn .rsbtn_exp .rsbtn_exp_inner button.rsbtn_player_item {
    // background: pink;
    font-size: 18px;
    padding: .4rem;
    width: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rsbtn .rsbtn_exp .rsbtn_exp_inner button.rsbtn_player_item span.rsicn-pause {
    color: #288144;

}

// hide Volume button
div.rsbtn_exp.rsimg.rspart span.rsbtn_exp_inner button.rsbtn_volume {
    // background-color: red;
    display: none;
  }

// dropdown regler
  div.rsbtn_exp.rsimg.rspart 
  span.rsbtn_exp_inner 
  span.rsbtn_dropdown {
    top: 2.35em;
    margin: auto .5rem;

  }

