div.ib-dbproductlist {
	input.citySearchInput {
		display: none;
	}
}

div.ib-db-gallery {
	display: none;
}

div.ib-content-module.ib-sidebar-map {
	margin-top:30px;
	img.title-image {
		display: none;
	}

	// link "zur routenplanung"
	a.ib-link-more-after {
		display: none;
	}
}