$srb-black : #000000;
$srb-font-color-white: #ffffff;
$srb-font-color-black: #000000;
$srb-font-color-light-black:#2e2e2e;
$srb-font-color-lighter-black: #404040;
$srb-font-color-light-grey:#ccc;
$srb-font-color-green: #7eb019;
$srb-font-color-standard: #777777;
$srb-font-color-light-blue:#dff2fe;
$srb-font-color-blue: #56b0ee;
$srb-font-color-dark-blue:#1169d6;
$srb-font-color-yellow: #ffd52d;
$srb-font-size-standard: 16px;

$srb-default-content-width: 1340px;


// IB specific settings
// --------------------

$ib-gray: #f3f6f8;
$ib-darkgray: #b1b1b1;
//$ib-darkblue: #005691;
$ib-darkblue: #005590;
$ib-blue: #009fe3;
//$ib-lightblue: #97d2f0;
$ib-lightblue: #009ddf;
$ib-brown: #aca258;
$ib-orange: #fabb51;
$ib-global-width:1188;
$ib-standard-font-color: #666666;
$ib-header-weight: 200;
$ib-anchor-color: #f18700;
$ib-anchor-hover: #009ddf;
$ib-tabs-color-alpha: rgba(241, 135, 0, 0.7);
$ib-bubble-orange: #f18700;
$ib-bubble-blue: #009cdf;