.SrbNewsListDateItem {
  border: 1px solid $srb-font-color-light-grey;

  margin-bottom: 1rem;

  .SrbNewsListButton {
    border-top: 1px solid $srb-font-color-light-grey;
    padding: 1rem .8rem;

    a {
      &:hover {
        color: $srb-font-color-green;
        opacity: .8;
      }
    }

  }

  .SrbNewsListItemHeadline {
    padding: 1rem .8rem 0;

    span {
      height: 50px;
      display: inline-block;
      position: relative;
      overflow: hidden;
    }
  }

  .SrbNewsListDateItemTeaser {
    padding: 0 .8rem 1rem;
  }

}