.ibg-be-row {
  padding: 10px 0;
  position: relative;

  .ibg-be-image {
    position: relative;

    img {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      max-width:900px;
    }

  }
}
