.SrbNewsListList {
  .SrbNewsListListItem {
    padding: 1rem 0;

    .SrbNewsListItemImage {
      img {
        width: 100%;
      }
    }

    .SrbNewsListItemHeadline {
      padding: 1rem 0;
    }

    .SrbNewsListButton {
      padding: 1rem 0;
    }
  }
}