.prowood-rw {
  #ib-header {
    #ib-main-menu {
      ul.jetmenu {
        border-bottom: 6px solid #00656a;
      }
    }
  }

  #ib-footer {
    .ib-footer-container {
      background: #00656a;
    }
    .ib-footer-textcontent.medium-4 {
      @media screen and (min-width: 40em) {
        width: 80%;
      }
    }

    .ib-footer-meta .columns {
      height: 35px;
    }
  }
}