.result-custom-contact-data{
    fieldset{
        font-size:12px;
        border:1px solid lightgray;
        margin:2px;
        padding:5px;
        label{
            font-size:12px;
        }
    }
    
}